body {
font-family: Arial, sans-serif;
margin: 0;
background-color: #f4fbf6;
color: #173b2a;
line-height: 1.6;
}

header {
background: linear-gradient(135deg, #065f46, #10b981);
color: white;
padding: 90px 20px;
text-align: center;
}

section {
max-width: 900px;
margin: 40px auto;
padding: 40px;
background-color: white;
border-radius: 18px;
box-shadow: 0 6px 20px rgba(0, 80, 50, 0.08);
}

h1 {
font-size: 52px;
margin-bottom: 15px;
}

h2 {
color: #047857;
font-size: 30px;
}

ul {
padding-left: 20px;
}

li {
margin-bottom: 8px;
}

.project {
padding: 25px;
margin-top: 25px;
border-radius: 15px;
background: linear-gradient(135deg, #f0fd4, #dcfce7);
border-left: 5px solid #10b981;
}

nav {
background: linear-gradient(90deg, #064e3b, #059669, #34d3999);
padding: 16px;
text-align: center;
position: sticky;
top: 0;
z-index: 1000;
box-shadow : 0 3px 12px rgba(0, 80, 50, 0.2);
}

nav a {
color: white;
text-decoration: none;
margin: 0 18px;
font-weight: bold;
transition: 0.3s;
}

nav a:hover {
text-decoration: underline;
color: #d1fae5;
}

html {
scroll-behavior: smooth;
}
